<div>
	<md-toolbar class="md-primary">

		<div class="md-toolbar-tools">
			<div layout="row">
				<div flex="60">
					<section layout="row" layout-phone="column" layout-align="center center">
						<md-button class="md-raised md-primary" ng-click="toggleLeft()">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</md-button>
					</section>
				</div>
				<div flex style="text-align:right" hide-sm hide-xs>
					<h2 class="md-flex">M4U</h2>
				</div>
			</div>
		</div>

	</md-toolbar>
</div>

<div layout="column" style="width: 100%;" ng-cloak="">

	<section layout="row" flex="">

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

			<md-toolbar class="md-theme-indigo">
				<div layout="row">
					<div flex="20">
						<h1 class="md-toolbar-tools">Name</h1>
					</div>
					<div flex hide-sm hide-xs>
						<section layout="row" layout-phone="column" layout-align="center center">

							<md-button ng-click="toggleLeft()">
								<span class="glyphicon glyphicon-remove"></span>
							</md-button>
						</section>
					</div>
				</div>
			</md-toolbar>

			<md-content layout-margin="">
				<p>
					This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
				</p>

			</md-content>

		</md-sidenav>
	</section>

	<div flex>
		<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
			<md-content layout="column">
				<div layout="row">
					<div flex="20">
						<h3> Popular movies </h3>
					</div>
					<div flex="70">

					</div>
					<div flex hide-sm hide-xs>
						<h3><a href="#">See All</a></h3>
					</div>
				</div>
				<div flex>
					<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal="">
						<div md-virtual-repeat="movie in movies" class="repeated-item" flex="">
							<img src="{{movie.poster_path}}" ng-click="detail(movie)" class="img-responsive">
						</div>
					</md-virtual-repeat-container>
				</div>
			</md-content>
		</div>
	</div>

	<div flex>
		<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
			<md-content layout="column">
				<div layout="row">
					<div flex="20">
						<h3> Recommendation Movies </h3>
					</div>
					<div flex="70">

					</div>
					<div flex hide-sm hide-xs>
						<h3><a href="#">See All</a></h3>
					</div>
				</div>
				<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal="">
					<div md-virtual-repeat="r in rec" class="repeated-item" flex="">
						<img src="{{r.poster_path}}" class="img-responsive">
					</div>
				</md-virtual-repeat-container>
			</md-content>
		</div>
	</div>

	<!--<div flex>
		<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
			<md-content layout="column">
				<div layout="row">
					<div flex="20">
						<h4> M4U Selections </h4>
					</div>
					<div flex="70">

					</div>
					<div flex hide-sm hide-xs>
						<h4><a href="#">See All</a></h4>
					</div>
				</div>
				<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal="">
					<div md-virtual-repeat="movie in movies" class="repeated-item" flex="">
						<img src="{{movie.poster_path}}" class="img-responsive">
					</div>
				</md-virtual-repeat-container>
			</md-content>
		</div>
	</div>

</div>-->


	<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->