<div layout="column" style="width: 100%;" ng-cloak="">
	<section class="panel">
		<div class="panel-body">
			<md-card>
				<md-card-header>
					<md-card-header-text>
						<span class="md-title">
							<div layout="row">
								<div flex="5">
									<span class="glyphicon glyphicon-menu-left" ng-click="backClicked()"></span>
								</div>
								<div flex="20">
									{{movie.title}}
								</div>
								<div flex hide-sm hide-xs>
									<span class="glyphicon glyphicon-menu-right" ng-click="forwardClicked()"></span>
								</div>
							</div>
						</span>
					</md-card-header-text>
				</md-card-header>
			<img src="{{movie.poster_path}}" class="img-responsive">
</md-card>

<md-card-title>
	<md-card-title-text>
		<span class="md-headline">
		<div layout="row">
			<div flex="20">
				<table border="0">
					<tr><td ng-repeat="g in genre"><i><b>{{g.genreName}},</b></i></td></tr>
				</table>
			</div>
			<div flex="65"></div>
			<div flex hide-sm hide-xs>
				<table border="0">
					<tr>
						<td><h4>{{ movie.release_date | date }}<span class="glyphicon glyphicon-calendar"></span></h4></td>
					</tr>
					<tr>
						<td><h4>{{ movie.vote_average }}<span class="glyphicon glyphicon-star"></span></h4></td>
					</tr>
				</table>
			</div>
		</div>
		</span>
	</md-card-title-text>
</md-card-title>
<md-card-content>
	<p style="text align:justify">
		<h4>{{ movie.overview}}</h4>
	</p>
</md-card-content>
</div>
</section>

<div flex>
	<div ng-cloak="" class="virtualRepeatdemoHorizontalUsage">
		<md-content layout="column">
			<div layout="row">
				<div flex="20">
					<h4> Similar movies </h4>
				</div>
				<div flex="70">

				</div>
			</div>
			<div flex>
				<md-virtual-repeat-container id="horizontal-container" md-orient-horizontal="">
					<div md-virtual-repeat="movie in similar" class="repeated-item" flex="">
						<img src="{{movie.poster_path}}" ng-click="refreshDetail(movie)" class="img-responsive">
					</div>
				</md-virtual-repeat-container>
			</div>
		</md-content>
	</div>
</div>